@mixin fullHeight() {
  height: $window-height;
  min-height: $window-height-min;
}

@mixin disabled() {
  cursor: default;
  pointer-events: none;
}

@mixin will-transform() {
  will-change: transform;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

@mixin gradient($firstColor, $secondColor) {
  background: linear-gradient(
    90deg,
    $firstColor,
    $secondColor
  );
}

@mixin transparentGradient ($color) {
  @include gradient(
    $color 0%,
    rgba(255, 255, 255, 0) 100%
  );
  // Not using transparent because of rendering problems in Safari
}