.main-gradient {
  background : linear-gradient(
    180deg,
    rgba(2, 124, 195, 1) 0%,
    rgba(13, 101, 169, 1) 20.38%,
    rgba(29, 67, 129, 1) 55.22%,
    rgba(39, 46, 105, 1) 82.98%,
    rgba(43, 38, 96, 1) 100%
  );
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-nexa {
  font-family: 'Nexa Bold', sans-serif;
}