// Credit cards ---------------------------------
.color-credit-cards {
  color: $color-credit-cards;
}

.bg-credit-cards {
  background: $color-credit-cards;
}

// Cash ISA -------------------------------------
.color-cash-isa {
  color: $color-cash-isa;
}

.bg-cash-isa {
  background: $color-cash-isa;
}

// Investments ----------------------------------
.color-investments {
  color: $color-investments;
}

.bg-investments {
  background: $color-investments;
}

// Robo advisors --------------------------------
.color-robo-advisors {
  color: $color-robo-advisors;
}

.bg-robo-advisors {
  background: $color-robo-advisors;
}

// Funding --------------------------------------
.color-funding {
  color: $color-funding;
}

.bg-funding {
  background: $color-funding;
}

// Savings --------------------------------------
.color-savings {
  color: $color-savings;
}

.bg-savings {
  background: $color-savings;
}