.resource-tile {

  &__image-text {
    position: relative;
    height: 100px;
    padding: 0 10px;
    background-position: center center;

    @media (min-width: $screen-md) {
      padding: 0 60px;
    }

    //&::after {
    //  top: 100%;
    //  left: 50%;
    //  border: solid transparent;
    //  content: " ";
    //  height: 0;
    //  width: 0;
    //  position: absolute;
    //  pointer-events: none;
    //  //border-color: rgba(136, 183, 213, 0);
    //  border-top-color: #88b7d5;
    //  border-width: 10px;
    //  margin-left: -10px;
    //}
  }

  &__content {
    .resource-tile__btn {
      p {
        color: #76e2ce;
        font-style: italic;
        cursor: pointer;
      }
    }
  }

  &__gradient {
    .resource-tile__btn {
      position: absolute;
      bottom: 0;
    }
  }
}
