.partner-title {
  color: lightgrey;
  transition: .3s color ease-out;

  .body--no-touch & {
    &:hover {
      color: #9d9d9d;
    }
  }

  &--active {
    color: $color-base;

    .body--no-touch & {
      &:hover {
        color: inherit;
      }
    }
  }
}