.resources-type {

  &__section {
    margin-top: 40px;
  }

  &__carousel {
    overflow: visible;
  }

  @media (max-width: $screen-xs) {
    .carousel-gradient .container {
      padding: 0;
    }
  }
}