$color-shark: #262830;
$color-rhino: #303960;
$color-rhino-secondary: #354066;
$color-aquamarine-blue: #76E2CE;
$color-dark-aquamarine-blue: darken($color-aquamarine-blue, 20%);
$color-blue-zodiac: #0F2949;
$color-tropical-blue: #B7C5F9;
$color-silver-chalice: #B0B0B0;
$color-concrete: #f2f2f2;
$color-texas-rose: #FFBE57;
$color-sunset-orange: #FF544B;
$color-bright-red: #B10900;
$color-gallery: #EAEAEA;
$color-pelorous: #41ABB4;
$color-punch: #DF3D3D;
$color-mercury: #E6E6E6;

$color-base: $color-rhino;
$color-body: #f7f7f7;

$color-success: #4F8A10;
$color-success-bg: #DFF2BF;

$color-error: #D8000C;
$color-error-bg: #FFBABA;

$color-info: #00529B;
$color-info-bg: #BDE5F8;

// News type colors
$color-credit-cards: #a7ffec; //$color-tropical-blue;
$color-cash-isa: #d09c85;
$color-investments: #9c8fd7;
$color-robo-advisors: #ffddfa;
$color-funding: #67b7dc; // not used
$color-savings: #67b7dc; // #d0ffcf
$color-money: #67b7dc; // #d0ffcf
$color-home: #67b7dc; // #d0ffcf
