.hub-table {
  text-align: center;
  min-width: 100%;

  &__headings {
    height: 50px;
    line-height: 50px;
    color: rgba(48, 57, 96, .55);
    text-transform: uppercase;
    border-bottom: 1px solid lightgrey;
  }

  &__logo {
    height: 20px;
    width: auto;
  }

  tbody {
    tr {
      border-bottom: 1px solid lightgrey;
      height: 50px;
    }
  }
}
