.hub-overview {

  &__container {
    height: 400px;
    border-radius: 8px;
    background: linear-gradient(
      0deg,
      rgba(255, 139, 15, 1) 0%,
      rgba(245, 202, 45, 1) 100%
    );

    @media (min-width: $screen-sm) {
      height: 600px;
    }
  }

  &__row {
    cursor: pointer;
    position: relative;
    height: 50%;
    //padding: 0 25px;
    border-width: 0 25px;
    border-style: solid;
    border-color: transparent;

    ~ .hub-overview__row {
      border-top: 1px solid white;
    }
  }

  &__row-content {
    width: 100%;

    @media (min-width: $screen-sm) {
      padding-right: 40px;
    }
  }

  &__btn {
    right: 0;
  }

  &__total-amount {
    color: $color-rhino;
    padding: 20px 0 0 25px;

    @media (min-width: $screen-sm) {
      padding-right: 65px;
    }
  }
}