.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 101;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #999;
  opacity: 0.98;

  &__bubbles {
    width: 100%;
    min-height: 50px;
    z-index: 102;
    text-align: center;
  }

  &__bubble {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background: $color-rhino;
    border-radius: 50%;
    animation: loaderBubble .9s infinite alternate;

    ~ .loader__bubble {
      margin-left: 20px;
    }
  }

  &__bubble-second {
    animation-delay: .3s;
  }

  &__bubble-third {
    animation-delay: .6s;
  }
}
